PORT=3000
NODE_ENV=development
MONGO_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/splitkar
SESSION_SECRET=your_super_secret_key_here
EMAIL_USER=youremail@gmail.com
EMAIL_PASS=your_gmail_app_password
